<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img class="" id="logo" width="460" src="../../assets/img/alineador.png"></ion-img>
  <form id="login" class="">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button type="submit" (click)="logIn(email, password)" color="primary" expand="block">Iniciar sesión</ion-button>
    <br>
    <a [routerLink]="['/forgot-password']" class="small-text">¿Ha olvidado su contraseña?</a>
    <br>
    <br>
    <a [routerLink]="['/registration']" class="small-text">Registrarse</a>
  </form>
  
</ion-content>