<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-content>
      <!-- fab placed to the top end -->
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    <ion-card-header>
      <ion-card-subtitle>Próximos eventos</ion-card-subtitle>
      <ion-card-title>No hay eventos...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
