<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajustes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><strong>Ajustes</strong></ion-card-subtitle>
      <ion-card-title>{{activeUser.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Este es el perfil de {{activeUser.name}} {{activeUser.surname}} que nació {{activeUser.birthday}} en Murcia.
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-button id="logout" type="submit" (click)="authService.SignOut()" expand="block">Cerrar sesión</ion-button>
</ion-content>
