
$layout-breakpoint-small: 960px;

@media (min-width: $layout-breakpoint-small) {
  #forward-password {
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media (max-width: $layout-breakpoint-small) {
  
  #forward-password {
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

