<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reestablecer contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperación</ion-title>
    </ion-toolbar>
  </ion-header>
  <form id="forward-password">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <br>
    <small>
      Introduzca su correo electrónico para poder reestablecer la contraseña.
      Le llegará un email indicando los pasos a seguir.
    </small>
    <br>
    <br>
    <ion-button type="submit" color="primary" expand="block">Recuperar</ion-button>
  </form>
  
</ion-content>